<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../dproviders/ajax-card.html">
<link rel="import" href="../ui/list-cards.html">
<link rel="import" href="../ui/movements-card.html">

<dom-module id="dmanager-card">
    <template>
        <style>
            :host {
                display: block;
                width: 80%;
                margin: 0 auto;
            }

            movements-card{
              display: block;
            }
        </style>
        <ajax-card id="ajaxCard" on-cargar-tarjetas="cargarTarjetas"></ajax-card>

        <template is="dom-repeat" items="[[listCards]]" as="card">
          <list-cards
            identificador="{{card.cardId}}"
            number="{{card.number}}"
            name="{{card.cardType.name}}"
            images="{{card.images.0.url}}"
            ammount="{{card.availableBalance.currentBalances.0.amount}}"
            on-click="mostrarMovimientos"

          ></list-cards>
        </template>
        <movements-card id="movementsCard" tarjetaSeleccionada="{{tarjetaSeleccionada}}" on-agregar-movimiento="insertarMovimiento"></movements-card>
    </template>
    <script>
        /**
         * @customElement
         * @polymer
         */
        class dmanagerCard extends Polymer.Element {
            static get is() { return 'dmanager-card'; }
            static get properties() {
                return {
                  listCards: {
                            type: Object,
                            value: function(){
                                return [];
                            }
                        },
                  cardMovements: {
                            type: Object,
                            value: function(){
                                return [];
                            }
                        },
                  tarjetaSeleccionada: {
                    type: Number,
                    value: 0
                  }
                };
            }

            ready(){
              super.ready();
              this.$.ajaxCard.consultarProducto();
            }

            cargarTarjetas(e){
              this.listCards = e.detail.listCards;
              //crear arreglo para movimientos de tarjetas
              this.listCards.forEach(card => {
                let ammount = card.availableBalance.currentBalances[0].amount;
                //Se crea el objeto con el indice del identificador de la tarjeta
                this.cardMovements[card.cardId] = [{movement:ammount ,ammount: ammount}];
              });
            }


            mostrarMovimientos(e){
              this.tarjetaSeleccionada = e.model.__data.card.cardId;
              this.$.movementsCard.setearMovimientos(this.cardMovements[this.tarjetaSeleccionada]);
            }

            insertarMovimiento(e){
              let totals = 0;
              this.cardMovements[this.tarjetaSeleccionada].forEach(movement => {
                totals = movement.movement;
              });
              let movement = parseInt(e.detail.movement);
              let ammount = totals + movement;

              this.cardMovements[this.tarjetaSeleccionada].push({movement: movement ,ammount: ammount  });
              //this.push(this.cardMovements[4101], {movement: movement ,ammount: ammount  });
              this.$.movementsCard.setearMovimientos(this.cardMovements[this.tarjetaSeleccionada]);
            }

        }




        window.customElements.define(dmanagerCard.is, dmanagerCard);
    </script>
</dom-module>
