<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../dproviders/valid-user.html">
<link rel="import" href="./dmanager-card.html">

<link rel="import" href="../ui/login-bbva.html">


<dom-module id="dmanager-login">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>
        <template is="dom-if" if="{{!usuarioLogueado}}" restamp="true">
          <login-bbva on-consulta-usuario="consultarUsuarioAjax"></login-bbva>
        </template>
        <template is="dom-if" if="{{usuarioLogueado}}" restamp="true">
          <dmanager-card></dmanager-card>
        </template>

        <valid-user id="validUser" on-usuario-logueado="loguear_usuario"></valid-user>


    </template>
    <script>
        /**
         * @customElement
         * @polymer
         */
        class dmanagerLogin extends Polymer.Element {
            static get is() { return 'dmanager-login'; }
            static get properties() {
                return {
                    user: String,
                    pass: String,
                    usuarioLogueado: {
                        type: Boolean,
                        value: false
                    }
                };
            }

            consultarUsuarioAjax(e){
                this.user = e.detail.user;
                this.pass = e.detail.pass;
                this.$.validUser.setearUsuario(this.user,this.pass);
            }

            loguear_usuario(e){
                this.usuarioLogueado = e.detail.usuarioLogueado;
            }
        }




        window.customElements.define(dmanagerLogin.is, dmanagerLogin);
    </script>
</dom-module>
