<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">





<dom-module id="list-cards">
    <template>
        <style>
            :host {
                display: block;
                text-align: center;
                margin: 0 auto;
                --paper-card-header-color: #fff;
            }

            paper-card {
              width: 48%;
              display: inline-block;
              float: left;
              background: rgba(19, 35, 47, 0.9);
              color: #fff;
              margin: 0 5px;
              text-align: right;
              border-radius: 5px;
            }

        </style>

        <paper-card heading="{{name}}">
          <div class="card-content">
            <div class="info">
              <p id="number">Number: {{number}} -{{identificador}}</p>
              <p id="ammount">Amount available: ${{ammount}}</p>
            </div>
            <div class="image">
              <img src="{{image}}" alt="">
            </div>

          </div>
        </paper-card>


    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class listCards extends Polymer.Element {
            static get is() { return 'list-cards'; }
            static get properties() {
                return {
                  number:String,
                  name:String,
                  images:String,
                  ammount:String,
                  identificador: Number,
                  cardMovements: {
                            type: Object,
                            value: function(){
                                return [];
                            }
                        }
                };
            }


            mostrarMovimientos(e){
              console.log(e);
              console.log(this.idCard);


              //this.cardMovements[this.identificador] = [saldo: 'prueba1'];


            }

        }

        window.customElements.define(listCards.is, listCards);
    </script>
</dom-module>
