<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<!-- Importar las dependencias  -->
<link rel="import" href="../dmanager/dmanager-login.html">

<dom-module id="login-bbva">
  <template>
    <style>
      :host {
        font-family: 'Titillium Web', sans-serif;
        display: block;
        --paper-input-container-input-color: #fff;
      }

      .formulario{
        width: 50%;
        margin: auto;
        background: rgba(19, 35, 47, 0.9);
        padding: 15px;
        color: #fff;
      }


      .formulario button{
        background: #179b77;
        width: 80%;
        border-radius: 2px;
        color: #fff;
        margin: 0 auto;
        display: block;
        border: none;
        font-size:   17px;
        margin-top: 7px;
        padding: 10px;
      }



    </style>

    <div class="formulario">
      <div>
        <label for="txtUser">Usuario</label>
        <paper-input type="text" id="txtUser" value="{{user}}"></paper-input>
      </div>
      <div>
        <label for="txtPass">Contraseña</label>
        <paper-input type="text" id="txtPass" value="{{pass}}"></paper-input>
      </div>
      <button on-click="validarUsuario">Enviar</button>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class loginBbva extends Polymer.Element {
      static get is() { return 'login-bbva'; }
      static get properties() {
        return {
          user: String,
          pass: String,
          usuarioLogueado: {
              type: Boolean,
              value: false,
              observer: '_observerUsuarioLogueado'
          }
        };
      }

      validarUsuario(){
        console.log("entro");
        //this.$.dManagerLogin.consultarUsuarioAjax();
        this.dispatchEvent(new CustomEvent('consulta-usuario',{
                detail: {
                    user: this.user,
                    pass: this.pass
                }
            }));


      }

      _observerUsuarioLogueado(e){
          console.log(e);
      }
    }

    window.customElements.define(loginBbva.is, loginBbva);
  </script>
</dom-module>
