<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">

<dom-module id="movements-card">
    <template>
        <style>
            :host {
                display: block;
                margin-top: 10px;
              }

              table tbody tr th{
                background: #179b77;
                color: #fff;

              }

              table{
                width: 100%;
              }

        </style>

        <template is="dom-if" if="{{seleccionaTarjeta}}">


            <p><strong>Tarjeta Nº </strong>{{tarjetaSeleccionada}}</p>

            <table class="tableMovemtens">
            <tr>
              <th>Movimiento</th>
              <th>Saldo</th>
            </tr>
            <template is="dom-repeat" items="[[detailMovements]]" as="movement">
              <tr>
                <td>${{movement.movement}}</td>
                <td>${{movement.ammount}}</td>
              </tr>
            </template>
            <tr>

              <td><paper-input type="text" id="txtUser" value="{{movement}}"></paper-input></td>
              <td><paper-button raised class="indigo" on-click="agregarMovimiento">Agregar</paper-button></td>
            </tr>
          </table>
        </template>




    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class movementsCard extends Polymer.Element {
            static get is() { return 'movements-card'; }
            static get properties() {
                return {
                  detailMovements: {
                            type: Object,
                            value: function(){
                                return [];
                            }
                        },
                        movement: String,
                        tarjetaSeleccionada: {
                          type: Number
                        },
                        seleccionaTarjeta: {
                          type: Boolean,
                          value: false
                        }

                };
            }


            setearMovimientos(movements){
              this.detailMovements = [];
              this.detailMovements = movements;
              this.seleccionaTarjeta = true;
            }

            agregarMovimiento(){
              this.dispatchEvent(new CustomEvent('agregar-movimiento',{
                      detail: {
                          movement: this.movement
                      }
                  }));
              this.movement = '';


            }


            ready(){
              super.ready();
              console.log(this.tarjetaSeleccionada);
            }


        }

        window.customElements.define(movementsCard.is, movementsCard);
    </script>
</dom-module>
