<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="ajax-card">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>

        <iron-ajax
                id="ajaxCards"
                url="https://artichoke.platform.bbva.com/cards/v0/cards"
                last-response="{{listCards}}"
                on-response="requestSuccess">
        </iron-ajax>



    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class ajaxCard extends Polymer.Element {
            static get is() { return 'ajax-card'; }
            static get properties() {
                return {
                  listCards: {
                            type: Object,
                            value: function(){
                                return [];
                            }
                        }

                };
            }

            consultarProducto(){
              let tsec = sessionStorage.getItem('tsec');
              this.$.ajaxCards.headers['tsec'] = tsec;
              this.$.ajaxCards.generateRequest();

            }

            requestSuccess(e, response){
              this.listCards = response.xhr.response.data;
              this.dispatchEvent(new CustomEvent('cargar-tarjetas',{
                      detail: {
                          listCards: this.listCards
                      }
                  }));

            }


        }

        window.customElements.define(ajaxCard.is, ajaxCard);
    </script>
</dom-module>
