<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">



<dom-module id="valid-user">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>

        <iron-ajax
                id="ajax"
                url="https://artichoke.platform.bbva.com/TechArchitecture/co/grantingTicket/V02"
                content-type="application/json"
                method="POST"
                handle-as="json"
                headers=[[tsec]]
                on-response="loginRequestSuccess"
                on-error="loginRequestError">
        >
        </iron-ajax>



    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class validUser extends Polymer.Element {
            static get is() { return 'valid-user'; }
            static get properties() {


                return {
                    payload:{
                        type: Object,
                        value: function() {
                            return {
                                authentication: {userID: this.user1,
                                                 consumerID: "10000033",
                                                 authenticationType: "02",
                                 authenticationData: [{idAuthenticationData: "password",
                                                       authenticationData: [this.user2]}]
                                },
                                backendUserRequest: {userId: "",
                                    accessCode: this.user1,
                                    dialogId: ""}
                        }
                        }
                    },
                    user:{
                        type: Object,
                        value: function() {
                            return {
                                name: '',
                                pass: ''
                            }
                        }
                    },
                    usuarioLogueado: {
                        type: Boolean,
                        value: false
                    }

                };
            }


            setearUsuario(user,pass){
                this.set('user.name', user);
                this.set('user.pass', pass);

                var loginData = {
                    "authentication": {
                        "userID": this.user.name,
                        "consumerID": "10000033",
                        "authenticationType": "02",
                        "authenticationData": [{
                            "idAuthenticationData": "password",
                            "authenticationData": [this.user.pass]
                        }]
                    },
                    "backendUserRequest": {
                        "userId": "",
                        "accessCode": this.user.name,
                        "dialogId": ""
                    }

                };

                this.$.ajax.body=JSON.stringify(loginData);
                this.$.ajax.generateRequest();
            }

            ready(){
                super.ready();

            }

            loginRequestSuccess(e, response) {
                console.log("Recibida respuesta del servidor 1");
                console.log(response.xhr.getResponseHeader('tsec'));
                sessionStorage.setItem('tsec', response.xhr.getResponseHeader('tsec'));
                this.usuarioLogueado = true;
                this.dispatchEvent(new CustomEvent('usuario-logueado',{
                        detail: {
                            usuarioLogueado: this.usuarioLogueado
                        }
                    }));
            }
            loginRequestError(error) {
                alert("Datos Incorrectos");
                console.log(error);
            }
        }

        window.customElements.define(validUser.is, validUser);
    </script>
</dom-module>
